body {
  font-family: helvetica, sans-serif;
  background-image: url("../images/background.svg");
  background-size: 75px auto;
}

h1,
h2 {
  font-family: Knewave, serif;
  color: #fff;
}

section,
.logo {
  background-color: #4e2e28;
}

label,
dt,
dd,
p {
  color: #fff;
}

.text-alignment {

  text-align: center;

}

.footer-text {
  color: #4e2e28;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  border-radius: 0;
  border: 0;
}

.btn-light {
  background-color: #4e2e28;
  color: #fff;
}

.btn-light:hover {
  background-color: #694f3a
}

footer {
  background-color: #fff;
}

@media only screen and (min-width: 38em) {

  .text-alignment {
    text-align: left;
    padding-top: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  .text-alignment {
    padding-top: 4.5rem;
  }
}
