body {
  font-family: helvetica, sans-serif;
  background-image: url("../images/background.svg");
  background-size: 75px auto;
}

h1,
h2 {
  font-family: Knewave, serif;
}

h1 {
  color: #fff;
}

h2 {
  color: #4E2E28;
}

.logo {
  background-color: #4E2E28;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  border-radius: 0;
  border: 0;
}

.btn-light {
  background-color: #4E2E28;
  color: #fff;
}

.btn-light:hover {
  background-color: #593b23
}

section,
footer {
  background-color: #fff;
}

@media only screen and (min-width: 25em) {

  .center-small {
    text-align: center;
  }

}
